@import "navbarStyle.css";

body{
    font-family: Arial, Helvetica, sans-serif;
}

.project-name-title{
    margin-left:10px;
    margin-bottom: 10px;
    font-size:24px;
    display: inline-block;
}

.project-container{
    margin-bottom: 10px;
}

.subproject-name-title{
    margin-left:15px;
    margin-bottom: 10px;
    font-size:20px;
}

.task-name-title{
    margin-left:20px;
    margin-bottom: 10px;
    font-size:18px;

}

.subtask-name-title{
    margin-left:35px;
    margin-bottom: 10px;
    font-size:16px;
}

.timeestimate{
    float:right;
    margin-right: 30%;
}

.project-tree{
    margin-left:10px;
    float:left;
    width: 50%;

}

.quickinsight{
    float:right;
    margin-right: 20px;
    border:2px solid #B5BCC1;
    height: 394px;
    width: 250px;
    padding: 10px 10px;
    border-radius: 20px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.3);
    color: white;
    background-color: #222629;

}

.quickinsight-title{
    text-align: center;
    margin: 0 auto 10px auto;
    width: auto;
    font-size:24px;
    font-weight: bold;

}

.quickinsight-bulletpoint, .quickinsight-bulletpoint-title, .quickinsight-bulletpoint-text{
    text-align: center;
}

.quickinsight-bulletpoints-div{
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 354px;
    width: 250px;
    display: inline-block;

}

.quickinsight-bulletpoint{
    color: black;
    height: 311px;
    overflow: hidden;
    text-align: center;
    padding:5px;
}


.quickinsight-bulletpoint-title{
    font-size: 16px;
    margin: 10px 0 2px 0;

}

.quickinsight-bulletpoint-text{
    color:rgba(0,0,0,0.6);
    font-size: 15px;

}

.quickinsight-more-info{
    text-align: center;
    margin:3px auto;
    width: 230px;
}

.quickinsight-more-info a{
    text-decoration: none;
    color:black;
}

.project-name-text-div{
    margin-top: 3px;
    margin-right: 5px;
    width: auto;
    float: left;
    font-weight: bold;
}
.nav-links{
    float:right;
}

.nav-links-admin, .nav-links-user, .quickinsight-more-info-button{
    display: inline-block;
    font-size: 16px;
    padding: 2px 6px;
    background-color: #f5f5f5;
    text-align: center;
    border: 1px solid #B5BCC1;

}
.nav-links-admin, .nav-links-user{
    margin: 0 4px;
    border-radius: 30px;

}

.quickinsight-more-info-button{
    width: 210px;
    border-radius: 10px;
    vertical-align: bottom;

}

.nav-links-admin a, .nav-links-admin a, .nav-links a{
    text-decoration: none;
    color:black;
}
.nav-links-admin:hover, .nav-links-admin:hover, .quickinsight-more-info-button:hover, .nav-links-user:hover{
    background-color: #E4E4E4;
}

.skill-name-div,.skills{
    font-size:14px;
    font-style: italic
}

.skill-name-div{
    margin-right: 5px;
}
.skills{
    display: inline-block;
}
