<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>
    <link href="overviewStyle.css" type="text/css" rel="stylesheet">

</head>
<body>
    <!-- Navigation bar - can be collapsed at <header> -->
    <header>
    <div class="navbar">
        <div class="navbar-logo-a" style="padding:0;text-align: center;"><img th:src="@{/images/LogoSmallG.png}" alt="logo" class="navbar-logo"></div>
        <!-- TODO: Add relevant hrefs -->
        <a id="highlighted-focus" href="/startside">Projektoversigt</a>
        <a href="/opretProjekt">Opret projekt</a>
        <a href="/projektArkiv">Projektarkiv</a>
        <a style="float:right;" href="/logud">Log ud</a>
        <a style="float:right;" href="/profil">Profil</a>

        <div class="dropdown" style="float:right">
            <button class="dropbtn" onclick="dropDown()" th:text="'Invitationer (' + ${invitations.size()} + ')'"></button>
            <div class="dropdown-content" id="myDropdown">
                <!-- Each invite "form"-->
                <div class="invite-div" th:each="invitations: ${invitations}">
                    <span class="variables-invite-text" th:text="${invitations.getAdminUsername()}"></span><br><span>har inviteret dig til</span><br><span class="variables-invite-text" th:text="${invitations.getProjectName()}"> PROJEKTNAVN</span>
                    <br>
                    <div style="text-align: center; margin-top:5px">
                        <!-- TODO: Add accept invitation mapping -->
                        <form action="/acceptInvitation" method="post" style="float:left;">
                            <input th:value="${invitations.getInvitationID()}" name="invID" hidden>
                            <button class="invite-accept-button" type="submit">Accepter</button>
                        </form>
                        <form action="/declineInvitation" method="post" style="float:right;">
                            <input th:value="${invitations.getInvitationID()}" name="invID" hidden>
                            <button class="invite-decline-button" type="submit">Afslå</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <script>
        //When the user clicks on the button, toggle between hiding and showing the dropdown content
        function dropDown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
            if (!e.target.matches('.dropbtn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');
                }
            }
        }
    </script>
</header>

    <div class="page-titel"><p>Projektoversigt</p></div>

    <!-- List of projects owned by you -->
    <div class="list-of-projects">
        <div><p class="page-subtitle">Projekter ejet af dig:</p></div>

        <!-- Project box - can be collapsed at <div> -->
        <div th:each="project: ${adminProjects}">
            <a th:href="'/projektOverblik?projectID=' + ${project.getProjectID()}" class="project">
                <!-- TODO: PROJECT NAME HERE
                <span class="project-name" th:text="${project.getName()}"></span>
                <br>
                -->
                <!-- test -->
                <!--/*@thymesVar id="project" type="com.example.demo.Models.Project"*/-->
                <span class="project-name" th:text="${project.printName()}"></span>
                <!-- TODO: th: Project DETAIL -->
                <span class="project-detail">DETAIL 1</span>
                <br>
                <!-- TODO: th: Project DETAIL -->
                <span class="project-detail">DETAIL 2</span>
                <br>
                <!-- TODO: th: Project DETAIL -->
                <span class="project-detail">DETAIL 3</span>
            </a>
        </div>

        <!-- Create project "+" -->
        <div class="create-project-circle-div">
            <form action="/opretProjekt">
            <button class="create-project-circle" type="submit">+</button>
            </form>
        </div>

    </div>

    <!-- List of projects shared with you -->
    <div class="list-of-projects">
        <div><p class="page-subtitle">Projekter delt med dig:</p></div>

        <!-- Project box - can be collapsed at <div> -->
        <div th:each="project: ${otherProjects}">
            <a th:href="'/projektOverblik?projectID=' + ${project.getProjectID()}" class="project">
                <div class="project-wrapper">
                    <span class="project-name" th:text="${project.printName()}"></span>
                    <!-- TODO: th: Project DETAIL -->
                    <span class="project-detail">DETAIL 1</span>
                    <br>
                    <!-- TODO: th: Project DETAIL -->
                    <span class="project-detail">DETAIL 2</span>
                    <br>
                    <!-- TODO: th: Project DETAIL -->
                    <span class="project-detail">DETAIL 3</span>
                </div>
            </a>
        </div>

    </div>






</body>
</html>