<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-1">
        <p th:text="'ProfileID: ' + ${user}"></p>
        <a href="/"><p>Projekt oversigt</p></a>
        <a href="/opretProjekt"><p>Opret projekt</p></a>
        <a href="/projektArkiv"><p>Projekt arkiv</p></a>
        <a href="/profil"><p>Profil</p></a>
        <a href="/logud"><p>Log ud</p></a>
    </div>
    <div class="col">
        <!--/*@thymesVar id="project" type="com.example.demo.Models.Project"*/-->
        <!--/*@thymesVar id="adminProjects" type="ArrayList"*/-->
        <!--/*@thymesVar id="otherProjects" type="ArrayList"*/-->
        <p>Admin:</p>
        <div th:each="project: ${adminProjects}" style="border: solid">
            <a th:href="'/projektOverblik?projectID=' + ${project.getProjectID()}"><p th:text="${project.getName()}"></p></a>
        </div>
        <p>Other:</p>
        <div th:each="project: ${otherProjects}" style="border: solid">
            <a th:href="'/projektOverblik?projectID=' + ${project.getProjectID()}"><p th:text="${project.getName()}"></p></a>
        </div>
    </div>
    <div class="col-1">
        <div th:each="invitation: ${invitations}">
            <p th:text="${invitation.getProjectName()}"></p>
            <p th:text="'Admin: ' + ${invitation.getAdminUsername()}"></p>
            <a th:href="'/acceptInvitation?invID=' + ${invitation.getInvitationID()}">Accepter</a>
            <a th:href="'/declineInvitation?invID=' + ${invitation.getInvitationID()}">Afslå</a>
        </div>
    </div>
</div>


</body>
</html>