<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="profile" type="com.example.demo.Models.Profile"*/-->
<div>
    <a href="/"><p>Projekt oversigt</p></a><br><br><br>
    <form method="post" action="/updatePassword">
        <label>Brugernavn</label><br>
        <input type="text" name="username" th:value="${profile.getUsername()}" readonly><br><br>
        <label>Gamle kodeord</label><br>
        <input type="text" name="old-password"><br><br>
        <label>Nyt kodeord</label><br>
        <input type="text" name="new-password"><br><br>
        <label>Gerntag nyt kodeord</label><br>
        <input type="text" name="new-password-re"><br><br>
        <input type="submit" value="Opdater">
    </form>
</div>
</body>
</html>