<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div style="display: inline-block">
    <a th:href="'/projektOverblik?projectID=' + ${project.getProjectID()}"><p style="color: black; border: #B5BCC1 solid 1px; background-color: #f5f5f5; border-radius: 10px; padding: 2px">Tilbage til projekt overblik</p></a>
    <a th:href="'/arkivStatus?projectID=' + ${project.getProjectID()} + '&status=1'" th:unless="${project.isArchived()}"><p style="color: black; border: #B5BCC1 solid 1px; background-color: #f5f5f5; border-radius: 10px; padding: 2px ">Arkiver</p></a>
    <a th:href="'/arkivStatus?projectID=' + ${project.getProjectID()} + '&status=0'" th:if="${project.isArchived()}"><p style="color: black; border: #B5BCC1 solid 1px; background-color: #f5f5f5; border-radius: 10px; padding: 2px">Fjern fra arkiv</p></a>
</div>

<br><br>
<!--/*@thymesVar id="project" type="com.example.demo.Models.Project"*/-->
<!--/*@thymesVar id="subtask" type="com.example.demo.Models.Subtask"*/-->
<div class="row">
    <div class="col">
        <div style="display: inline-block">
            <h3 th:text="${project.printName()}" style="border-bottom: 2px solid"></h3>
        </div>
        <form method="post" action="/projektNavn">
            <label>Skift projekt navn</label>
            <input type="text" th:value="${project.getName()}" name="name">
            <input type="hidden" th:value="${project.getProjectID()}" name="projectID">
            <input type="submit" value="Skift">
        </form>
        <br><br>
        <!-- New subproject -->
        <form method="post" action="/nytUnderprojekt" style="background-color: #8fabab; display: inline-block">
            <label>Underprojekt navn</label>
            <input type="text" name="name">
            <input type="hidden" th:value="${project.getProjectID()}" name="projectID">
            <input type="submit" value="Tilføj">
        </form>

        <!-- Subprojects -->
        <div th:each="subproject : ${project.getSubprojects()}" style="margin-left: 50px; padding-bottom: 40px">
            <!-- Change subproject -->
            <form method="post" action="/aendreUnderprojekt">
                <!-- Delete subproject -->
                <a th:href="'/sletUnderprojekt?projectID=' + ${project.getProjectID()} + '&subprojectID=' + ${subproject.getSubprojectID()}">X</a>
                <input type="text" th:value="${subproject.getName()}" name="name">
                <input type="hidden" th:value="${project.getProjectID()}" name="projectID">
                <input type="hidden" th:value="${subproject.getSubprojectID()}" name="subprojectID">
                <input type="submit" value="Gem">
            </form>

            <!-- New task -->
            <form method="post" action="/nyOpgave" style="background-color: #8fabab; display: inline-block">
                <label>Opgave navn</label>
                <input type="text" name="name">
                <input type="hidden" th:value="${project.getProjectID()}" name="projectID">
                <input type="hidden" th:value="${subproject.getSubprojectID()}" name="subprojectID">
                <input type="submit" value="Tilføj">
            </form>

            <!-- Tasks -->
            <div th:each="task : ${subproject.getTasks()}" style="margin-left: 50px; padding-bottom: 30px">
                <!-- Change task -->
                <form method="post" action="/aendreOpgave">
                    <!-- Delete task -->
                    <a th:href="'/sletOpgave?projectID=' + ${project.getProjectID()} + '&taskID=' + ${task.getTaskID()}">X</a>
                    <input type="text" th:value="${task.getName()}" name="name">
                    <input type="hidden" th:value="${project.getProjectID()}" name="projectID">
                    <input type="hidden" th:value="${task.getTaskID()}" name="taskID">
                    <input type="submit" value="Gem">
                </form>

                <!-- New subtask -->
                <form method="post" action="/nyUnderopgave" style="background-color: #8fabab; display: inline-block">
                    <label>Underopgave navn</label>
                    <input type="text" name="name">
                    <input type="number" name="timeEstimation">
                    <label>t</label>
                    <input type="hidden" th:value="${project.getProjectID()}" name="projectID">
                    <input type="hidden" th:value="${task.getTaskID()}" name="taskID">
                    <input type="submit" value="Tilføj">
                </form>

                <!-- Subtasks -->
                <div th:each="subtask : ${task.getSubtasks()}" style="margin-left: 50px; padding-bottom: 20px">
                    <!-- Change subtask -->
                    <form method="post" action="/aendreUnderopgave">
                        <!-- Delete subtask -->
                        <a th:href="'/sletUnderopgave?projectID=' + ${project.getProjectID()} + '&subtaskID=' + ${subtask.getSubtaskID()}">X</a>
                        <input type="text" th:value="${subtask.getName()}" name="name">
                        <input type="number" th:value="${subtask.getTimeEstimate()}" name="timeEstimation">
                        <input type="hidden" th:value="${project.getProjectID()}" name="projectID">
                        <input type="hidden" th:value="${subtask.getSubtaskID()}" name="subtaskID">
                        <input type="submit" value="Gem">
                    </form>

                    <!-- Subtask skills -->
                    <div th:each="skill : ${subtask.getSkills()}">
                        <!-- Delete subtask skill -->
                        <span th:text="${skill.getValue()}" style="background-color: lightskyblue; border-radius: 5px"></span><a th:href="'/sletOpgSkill?projectID=' + ${project.getProjectID()} + '&subtaskID=' + ${subtask.getSubtaskID()} + '&skillID=' + ${skill.getSkillID()}">  X</a>
                    </div>

                    <!-- New subtask skill -->
                    <form method="post" action="/tilfojOpgSkill">
                        <span>Nyt skill:</span>
                        <input type="text" name="skill">
                        <input type="hidden" th:value="${project.getProjectID()}" name="projectID">
                        <input type="hidden" th:value="${subtask.getSubtaskID()}" name="subtaskID">
                        <input type="submit" value="Tilføj">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div>
        <div style="display: inline-block">
            <h3 style="border-bottom: 2px solid">Medarbejdere</h3>
            <form action="/tilfojMedarbejder" method="Post">
                <label>Navn</label><br>
                <input type="text" name="name">
                <input type="hidden" name="projectID" th:value="${project.getProjectID()}">
                <input type="submit" value="Tilføj">
            </form>
            <br><br>
            <!--/*@thymesVar id="employee" type="com.example.demo.Models.Employee"*/-->
            <!--/*@thymesVar id="employees" type="java.util.ArrayList"*/-->
            <div th:each="employee: ${employees}" style="border: solid; margin: 3px;">
                <span th:text="${employee.getName()}" style="margin: 5px"></span><a style="margin: 5px" th:href="'/fjernMedarbejder?projectID=' + ${employee.getProjectID()} + '&employeeID=' + ${employee.getEmployeeID()}">x</a>
                <br>
                <form method="post" action="/tilfojMedSkill">
                    <input type="text" name="skill">
                    <input type="hidden" th:value="${employee.getEmployeeID()}" name="employeeID">
                    <input type="hidden" th:value="${employee.getProjectID()}" name="projectID">
                    <input type="submit" value="+">
                    <div th:each="skill: ${employee.getSkills()}" style="background-color: #B5BCC1; margin: 1px">
                        <div style="display: inline-block">
                            <span th:text="${skill.getValue()}" style="font-size: 10px"></span>
                            <a th:href="'/fjernMedSkill?projectID=' + ${employee.getProjectID()} + '&employeeSkillID=' + ${skill.getSkillID()}" style="font-size: 10px"> X</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>