<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<p th:text="'ProjektID: ' + ${project.getProjectID()}"></p>
<a th:href="'/projektOverblik?projectID=' + ${project.getProjectID()}">Tilbage til projekt</a><br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Brugere</h2>
            <div th:each="profile: ${users}" style="border: solid; display: inline-block; padding: 3px; margin: 5px" class="row">
                <span style="font-size: 20px" th:text="${profile.getUsername()}"></span><span>   </span><a th:href="'/fjernBruger?userID=' + ${profile.getProfileID()} + '&projectID=' + ${project.getProjectID()}">Fjern</a>
            </div>
            <br>
        </div>
        <br><br>
        <div class="col">
            <form method="post" action="/tilfojBruger">
                <label>Brugernavn</label><br>
                <input type="text" name="username"><br><br>
                <input type="submit" value="Tilføj">
                <input type="hidden" th:value="${project.getProjectID()}" name="projectID">
            </form>
        </div>
    </div>
</div>

</body>
</html>